<header class="relative bg-white">
    <nav aria-label="Top">
        <!-- Secondary navigation -->
        <div class="bg-white">
            <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                <div class="border-b border-gray-200">
                    <div class="flex h-16 items-center justify-start w-full">
                        <!-- Logo (lg+) -->
                        <div class="flex items-center">
                            <a href="/">
                                <span class="sr-only">Your Company</span>
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 32 32"
                                    fill="currentColor"
                                    class="h-8 w-8 flex-shrink-0 rounded-full"
                                >
                                    <path
                                        d="M18.266 26.068l7.839-7.854 4.469 4.479c1.859 1.859 1.859 4.875 0 6.734l-1.104 1.104c-1.859 1.865-4.875 1.865-6.734 0zM30.563 2.531l-1.109-1.104c-1.859-1.859-4.875-1.859-6.734 0l-6.719 6.734-6.734-6.734c-1.859-1.859-4.875-1.859-6.734 0l-1.104 1.104c-1.859 1.859-1.859 4.875 0 6.734l6.734 6.734-6.734 6.734c-1.859 1.859-1.859 4.875 0 6.734l1.104 1.104c1.859 1.859 4.875 1.859 6.734 0l21.307-21.307c1.859-1.859 1.859-4.875 0-6.734z"
                                    ></path>
                                </svg>
                            </a>
                        </div>

                        <div class="h-full flex">
                            <!-- Mega menus -->
                            <div class="ml-8">
                                <div class="flex h-full justify-center space-x-8">
                                    <a
                                        href="/recomendations"
                                        class="flex items-center text-sm font-medium text-gray-700 hover:text-gray-800"
                                    >
                                        Rekomendasi</a
                                    >

                                    <a
                                        href="/movies"
                                        class="flex items-center text-sm font-medium text-gray-700 hover:text-gray-800"
                                    >
                                        Movies</a
                                    >
                                    <a
                                        href="/processing"
                                        class="flex items-center text-sm font-medium text-gray-700 hover:text-gray-800"
                                    >
                                        success</a
                                    >
                                    <a
                                        href="/ask"
                                        class="flex items-center text-sm font-medium text-gray-700 hover:text-gray-800"
                                    >
                                        ask</a
                                    >
                                </div>
                            </div>
                        </div>

                        <div class="flex-1 text-end justify-end">
                            {% if session.logged_in %}
                            <span class="hidden sm:inline-block"
                                >logged in as <b>{{ g.user.email }}</b> |
                            </span>
                            <a href="/logout" class="text-red-400 font-semibold text-sm">logout</a>
                            {% else %}
                            <a href="/join">Login/Sign up</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
