{% extends "layouts/base.html" %}
<br />
{% block content %}
<br />
<div class="bg-white py-12">
    <div class="mx-auto max-w-7xl overflow-hidden sm:px-6 lg:px-8">
        <h2 class="text-lg font-medium text-gray-900">Movies yang kamu rating</h2>
        <div
            class="-mx-px mt-6 grid grid-cols-2 border-l border-t border-gray-200 sm:mx-0 md:grid-cols-3 lg:grid-cols-4"
        >
            {% for movie in movies %}
            <div class="group relative border-r border-b border-gray-200 p-4 sm:p-6">
                <div class="pt-10 pb-4 text-center">
                    <h3 class="text-sm font-medium text-gray-900">{{ movie.title }}</h3>
                    <p class="text-sm font-mono">rating {{'%0.2f'|format(movie.rating|float)}}</p>
                    <p class="text-sm font-mono">{{ movie.genres }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="bg-white py-12">
    <div class="mx-auto max-w-7xl overflow-hidden sm:px-6 lg:px-8">
        <h2 class="text-lg font-medium text-gray-900">Rekomendasi Untuk Anda</h2>
        <div
            class="-mx-px mt-6 grid grid-cols-2 border-l border-t border-gray-200 sm:mx-0 md:grid-cols-3 lg:grid-cols-4"
        >
            {% for movie in recs %}
            <div class="group relative border-r border-b border-gray-200 p-4 sm:p-6">
                <div class="pt-10 pb-4 text-center">
                    <h3 class="text-sm font-medium text-gray-900">{{ movie.title }}</h3>
                    <p class="text-sm font-mono">rating {{'%0.2f'|format(movie.rating|float)}}</p>
                    <p class="text-sm font-mono">{{ movie.genres }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
