{% extends "layouts/base.html" %}
<br />
{% block content %}
<br />
<div class="bg-white py-12">
    <div class="mx-auto max-w-7xl overflow-hidden sm:px-6 lg:px-8">
        <form
            class="relative flex items-center w-full h-12 overflow-hidden border border-black max-w-2xl"
            method="get"
            action="{{ url_for(request.endpoint, **request.args) }}"
        >
            {{ form.search(placeholder="Search movie title... ", class_="h-full w-full outline-none
            text-sm text-gray-700 pr-2 border-none") }}
            <button type="submit" class="grid place-items-center h-full w-12 border-l border-black">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                    />
                </svg>
            </button>
        </form>
        <ul class="flex flex-wrap gap-2 my-4">
            {% for key, value in genres.items() %}
            <li
                class="px-3 py-2 border border-black {{ 'bg-gray-300' if request.args.get('genre') is not none and request.args.get('genre') == key else None }}"
            >
                {% if request.args.get('genre') is not none and request.args.get('genre') == key %}
                <a href="{{ request.endpoint }}" class="font-mono capitalize"> {{ key }} </a>
                {% else %}
                <a href="{{ value }}" class="font-mono capitalize"> {{ key }} </a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        <div class="flex justify-between mb-4">{{ pagination.info }} {{ pagination.links }}</div>
    </div>

    <div class="mx-auto max-w-7xl overflow-hidden sm:px-6 lg:px-8">
        <h2 class="text-lg font-medium text-gray-900">Semua Items</h2>
        <div
            class="-mx-px mt-6 grid grid-cols-2 border-l border-t border-gray-200 sm:mx-0 md:grid-cols-3 lg:grid-cols-4"
        >
            {% for movie in movies %}
            <div class="group relative border-r border-b border-gray-200 p-4 sm:p-6">
                <!-- <span class="absolute text-[2rem] -left-2 -top-2 font-semibold"
                    >{{ (page -1) * pagination.per_page + loop.index }}</span
                > -->
                <div class="aspect-[2/3] overflow-hidden rounded-lg bg-gray-200">
                    <img
                        src="{{ movie.poster }}"
                        alt="{{ movie.title }} - poster"
                        class="h-full w-full object-cover object-center"
                    />
                </div>
                <div class="pt-10 pb-4 text-center">
                    <h3 class="text-sm font-medium text-gray-900">
                        {{ movie.title }} - ({{ movie.year }})
                    </h3>
                    <p class="mt-1 text-sm text-gray-900">
                        {{ movie.year }} |
                        <span class="text-gray-500 font-semibold"
                            >IMDb Rating - {{'%0.2f'|format(movie.rating|float)}}</span
                        >
                    </p>

                    <!-- <p class="mt-1 text-sm text-gray-500">{{ movie['summary'][:100] }}...</p> -->

                    <p>{{ ' | '.join(movie.genres) }}</p>
                    {% if session.logged_in %}
                    <div class="wrapper">
                        <input
                            name="{{ movie.movieId }}-rating"
                            type="radio"
                            id="{{ movie.movieId }}-5"
                            value="5"
                        />
                        <label for="{{ movie.movieId }}-5"></label>
                        <input
                            name="{{ movie.movieId }}-rating"
                            type="radio"
                            id="{{ movie.movieId }}-4"
                            value="4"
                        />
                        <label for="{{ movie.movieId }}-4"></label>
                        <input
                            name="{{ movie.movieId }}-rating"
                            type="radio"
                            id="{{ movie.movieId }}-3"
                            value="3"
                        />
                        <label for="{{ movie.movieId }}-3"></label>
                        <input
                            name="{{ movie.movieId }}-rating"
                            type="radio"
                            id="{{ movie.movieId }}-2"
                            value="2"
                        />
                        <label for="{{ movie.movieId }}-2"></label>
                        <input
                            name="{{ movie.movieId }}-rating"
                            type="radio"
                            id="{{ movie.movieId }}-1"
                            value="1"
                        />
                        <label for="{{ movie.movieId }}-1"></label>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<br />
{% endblock %}
